body {
  background-color: #e3f7ff;
  background-size: cover;
}

p {
  color: #969696;
  text-align: center;
}

h1 {
  color: #146687;
  font-size: 30px;
  font-family: "Ubuntu";
  text-align: center;
}

h2 {
  color: #146687;
  font-size: 24px;
  font-family: "Ubuntu";
  text-align: center;
}

ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}

.intro {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro h2 {
  color: #146687;
  font-family: "Ubuntu";
  text-align: center;
  font-style: italic;
}

.background {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Ubuntu";
  padding-top: 10px;
}

.background h1 {
  color: #5d6366;
}

.newpets {
  position: relative;
  font-family: "Tahoma";
  padding-top: 10px;
}

.newpets .container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}

.newpets .container .column1 {
  background-color: #a6cbde;
  display: inline-block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
}

.newpets .container .column2 {
  background-color: #a6cbde;
  display: inline-block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
}

.newpets .container .column3 {
  background-color: #a6cbde;
  display: inline-block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
}

.color-selector .container {
  position: relative;
  margin-top: 2em;
}

.btn {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn#dark {
  margin-top: 0.5em;
}

.black-background {
  background-color: black;
}

.blue-background {
  background-color: #e3f7ff;
}